@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem;
}

@layer components{
    .header__nav.open{
    @apply right-[0rem] transition-all
}

    .toggle__menu.open .transition-transform:nth-child(1){
        transform: rotate(-45deg) translate(-4px, 6px);
    }
    .toggle__menu.open .transition-transform:nth-child(2){
        opacity: 0;
    }
    .toggle__menu.open .transition-transform:nth-child(3){
       transform: rotate(-45deg) translate(-4px, 6px);
    }
    .header__nav li{
        @apply p-[2rem];
    }
    .toggle__menu{
        @apply lg:hidden
    }

    .kalbo{
        @apply bg-white
    }
    .kalbo__wrapper{
        @apply bg-gray-600 py-[2rem]
    }
    .kalbo__nav{
        @apply  max-w-[25rem] flex flex-wrap gap-[2rem] mx-auto justify-center
    }
    .kalbo__nav li{
        @apply p-[.5rem] rounded-md text-white
    }
    .kalbo__nav li.active{
        @apply bg-blue-500 
    }
    .kalbo__desc__wrapper{
        @apply bg-gray-300 p-[2rem] 
    }
    .kalbo__item__content{
        @apply hidden
    }
    .kalbo__item__content img{
        @apply w-[10rem] h-auto rounded-full bg-lasalle px-[1rem]
    }
    .kalbo__item__content.active{
        @apply flex gap-[2rem] items-center justify-center
    }
    .kalbo__text h2{
        @apply text-[1.5rem] font-bold mb-[1rem]
    }
    .kalbo__text table tr td:first-child{
        @apply font-semibold
    }
    .kalbo__text table tr{
        @apply h-[5rem] flex flex-col
    }

    .starbucks__wrapper{
        @apply bg-gray-100 py-[2.5rem] h-[11rem]
    }
    .starbucks__title h2{
        @apply  text-[2rem] font-semibold text-center pb-[2rem]
    }
    .starbucks__nav{
        @apply  flex flex-row gap-[2rem] justify-center font-bold font-sans
    }
    .sb__wrapper{
        @apply bg-green-50 text-center 
    }
    .sb__item__content h2{
        @apply pb-[1.5rem] text-[1.5rem] font-semibold
    }
    .sb__item__content{
        @apply  hidden
    }
    .sb__item__content.active{
        @apply flex flex-col lg:items-center lg:flex lg:flex-row lg:justify-center lg:w-[40%] lg:mx-auto
    }
    .sb__item__content img{
        @apply mx-auto lg:object-fill h-[15rem] w-[25rem]
    }
    .starbucks__nav__link{
        @apply relative tracking-[1px] hover:text-lasalle
    }
    .starbucks__nav__link::after{
        @apply content-[''] bg-lasalle h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
    }
    .starbucks__nav__link:hover::after{
        @apply w-[100%]
    }
    
    





    
}